<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Mix-o-Matic</title>
  </head>
  <body>
    <div class="container">
      <h1>Mix-o-Matic!</h1>
      <div class="main-details">
        <h2><%= locals.drinkName %></h2>
        <h2><%= locals.category %></h3>
      </div>
      <div class="cocktail-img">
        <img
          src=<%= locals.imageURL %>
        />
      </div>
        <div class="information">
            <h2>Information</h2>
            <ul>
                <li><%= locals.isAlcoholic %></li>
                <li><%= locals.glass %></li>
            </ul>
        </div>
        <div class="instructions">
          <h2 style="margin-bottom: 0px">Instructions</h2>
          <p><%= locals.instructions.slice(0, 100) %></p>
        </div>
        <div class="ingredients">
          <h2 style="margin-bottom: 0px">Ingredients</h2>
          <ul>
            <% locals.ingredients.forEach(element => { %>
                <li><%= element %></li>
            <% }) %>
          </ul>
        </div>
    </div>
  </body>
</html>
